
  $telegram: #5992E8;
  $telegram-light: #93BBEA;
  $main: #FFFFFF;
  $accent: #36BA5F;
  $accent-secondary: #F9F9F9;
  $font-color: #1A1A1A;
  $font-color-light: #949494;
  $background: #FFFFFF;

  $ff: 'MuseoSansCyrl', Helvetica,Arial,sans-serif;

  $gutter: 8px;
